---
---

.gallery {
  display: inline-flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  max-width: 550px;
  margin: 10px;
  background: var(--background);
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
  vertical-align: top;
}

.gallery[data-style="project"] {
  width: 350px;
}

.gallery-image img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  // box-shadow: var(--shadow);
}

.gallery-text {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  padding: 10px 20px;
}

.gallery-text > * {
  margin: 0 !important;
}


.gallery-title {
  margin-top: -10px !important;
  font-style: italic;
}


.gallery-description {
  font-family: var(--body);
  line-height: normal;
  min-height: 150px;
}

.gallery-description[data-style="project"] {
  font-family: var(--body);
  line-height: normal;
  min-height: 180px;
}