---
---

a {
  color: var(--primary);
  transition: color var(--transition);
  overflow-wrap: break-word;
  text-decoration: none;
}

a:hover {
  color: var(--text);
}

a:not([href]) {
  color: var(--text);
}
