---
---

.portrait-wrapper {
  display: contents;
}

.portrait {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 175px;
  max-width: calc(100% - 20px - 20px);
  text-decoration: none;
}

.portrait[data-style="small"] {
  width: 100px;
}

.portrait[data-style="tiny"] {
  flex-direction: row;
  gap: 15px;
  width: unset;
  text-align: left;
}

.portrait .icon {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20px + 10%);
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  background: var(--background);
  box-shadow: var(--shadow);
  transform: translate(14%, 14%);
}

.portrait[data-style="small"] .icon {
  left: -2px;
  top: -2px;
}

.portrait[data-style="tiny"] .icon {
  display: none;
}

.portrait-image {
  width: 100%;
  margin-bottom: 0;
  aspect-ratio: 1 / 1.33;
  object-fit: cover;
  box-shadow: var(--shadow);
  border-radius: 5%;
}

.portrait[data-style="tiny"] .portrait-image {
  width: 50px;
  margin: 0;
}

.portrait-name {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.portrait[data-style="tiny"] {
  .portrait-description,
  .portrait-affiliation {
    display: none;
  }
}

.portrait-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景，根据需要调整 */
  color: white;
  text-align: center;
  padding: 5px 0;
  display: flex; /* 使用 Flexbox 布局 */
  flex-direction: column; /* 子元素垂直排列 */
  justify-content: space-between; /* 子元素分布在容器的两端 */
  border-radius: 5%;
}
.portrait-description{
  font-size: 0.8rem;
}