<div class="section">
  <h1><i class="fas fa-handshake"></i>Join us</h1>
  <p>We are constantly seeking undergraduate/graduate students to participate in our group’s research. We have multiple well-funded openings for PhD students, postdocs, RAPs, and RAs in our group.</p>
  
  <!-- <h2 id="prospective-phd-students">Prospective PhD Students</h2>
  
  <p>We are actively looking for highly self-motivated students who are exciting about AIoT systems, especially about wireless sensing, mobile computing, localization, automotive sensing, AI for healthcare, smart eldercare, etc. Candidates who majored in CS/EE/Automation and related fields with any of the following backgrounds are encouraged to apply: signal processing, wireless communications, applied machine learning, computer networks, mobile and embedded systems. Solid theoretical and programming skills are both welcome.</p>
  
  <p>Interested individuals may contact Prof. Wei Wang via email (<a href="mailto:weiwangw@hust.edu.cn">weiwangw@hust.edu.cn</a>) with (1) your CV (please include your GPA and ranking), (2) a copy of your transcripts, (3) a brief description of your background and research interests (and perhaps your hobbies too!), and (4) a research proposal (highly recommended). Please use the email subject as “<strong>[Prospective Student] Your Name - Your Affiliation</strong>”. (Sorry I may not respond to all emails.)</p>
  
  <p><strong>Research Topics:</strong> At the core of the emerging AIoT (Artificial Intelligence of Things) is not only ubiquitous connectivity but also the pervasive sensing capability to perceive the physical world. Towards this goal, our research vision is to advance <strong>Wireless AI Perception</strong> by transforming everywhere wireless infrastructure into a ubiquitous sensing platform, allowing computing devices to sense pervasively and see beyond the visual spectrum. Under the broad umbrella of this vision, our current research mainly focuses on areas including</p>
  
  <ul>
    <li><strong>Wireless SLAM, mmWave 3D Perception:</strong>: mmWave for autovehicle navagation, sensing, V2X, and interference cancellation applications.</li>
    <li><strong>Backscatter Communication/Sensing:</strong> WiFi/BLE/LoRa/GPS backscatter communication and localization applications.</li>
    <li><strong>Ubiquitous Localization</strong>: Developing ubiquitous localization technologies and systems for practical large-scale adoption</li>
    <li><strong>Video Compression/Transmission for Edge IoT</strong>:  Reliable video streaming for UAVs and batteryless devices, 3D Lidar point cloud compression</li>
    <li><strong>Multi-Modality Sensing and Learning</strong>: Exploring the opportunities of combining multiple modalities (radio/sound/visual/light/etc) for advanced Wireless AI Perception</li>
  </ul>
  
  <h2 id="postdocs">Postdocs</h2>
  
  <p>We have postdoc/RAP openings in wireless sensing and mobile computing. If you are interested in working with us, send me an email at <a href="weiwangw@hust.edu.cn">weiwangw@hust.edu.cn</a>.</p>

  
  <h2 id="undergraduate-students-at-HUST">Undergraduate Students at HUST</h2>
  
  <p>Undergraduate students who are excited about research are welcome to contact me for potential research opportunities. If you are an HUST student in CS/EEE or related fields and are interested in my research, please send me an email. I will try to find a time to meet and discuss possible projects.</p> -->
  
  <hr>
  
  <h1 id="on-campus-visit"><i class="fas fa-walking"></i>On-campus visit</h1>
  <p>Our lab is part of the <a href="https://eic.hust.edu.cn">School of Electronic Information and Communications (EIC) </a>, at <a href="https://www.hust.edu.cn">Huazhong University of Science and Technology (HUST)</a>. Our lab is located at the Room F404 in East Building 17 of HUST.</p>
  
  </div>
