<div class="section">
  <h1><i class="fas fa-handshake"></i>Openings</h1>
  <p>We are constantly seeking undergraduate/graduate students to participate in our group’s research. We have multiple well-funded openings for PhD students, postdocs, RAPs, and RAs in our group.</p>
  
  <h2 id="prospective-phd-students">Prospective PhD Students</h2>
  
  <p>We are actively looking for highly self-motivated students who are exciting about AIoT systems, especially about wireless sensing, mobile computing, localization, automotive sensing, AI for healthcare, smart eldercare, etc. Candidates who majored in CS/EE/Automation and related fields with any of the following backgrounds are encouraged to apply: signal processing, wireless communications, applied machine learning, computer networks, mobile and embedded systems. Solid theoretical and programming skills are both welcome.</p>
  
  <p>Interested individuals may contact Prof. Chenshu Wu via email (<a href="mailto:chenshu@cs.hku.hk">chenshu@cs.hku.hk</a>) with (1) your CV (please include your GPA and ranking), (2) a copy of your transcripts, (3) a brief description of your background and research interests (and perhaps your hobbies too!), and (4) a research proposal (highly recommended). Please use the email subject as “<strong>[Prospective Student] Your Name - Your Affiliation</strong>”. (Sorry I may not respond to all emails.)</p>
  
  <p>Detailed application information can be found at <a href="https://www.cs.hku.hk/programmes/research-based/mphil-phd-admission">HKU CS PhD Admission</a>.</p>
  
  <ul>
    <li>Deadline for Early Recruitment Scheme: 11:59pm, 31st August, 2024</li>
    <li>After the early recruitment deadline, you are welcome to apply for our main round.</li>
  </ul>
  
  <p><strong>Research Topics:</strong> At the core of the emerging AIoT (Artificial Intelligence of Things) is not only ubiquitous connectivity but also the pervasive sensing capability to perceive the physical world. Towards this goal, our research vision is to advance <strong>Wireless AI Perception</strong> by transforming everywhere wireless infrastructure into a ubiquitous sensing platform, allowing computing devices to sense pervasively and see beyond the visual spectrum. Under the broad umbrella of this vision, our current research mainly focuses on areas including</p>
  
  <ul>
    <li><strong>Wireless Sensing</strong>: Building practical sensing systems for real-world applications</li>
    <li><strong>Sensing AI for Healthcare:</strong> Harnessing sensing AI and technologies to translate ubiquitous heathcare “from benchside to bedside”</li>
    <li><strong>Ubiquitous Localization</strong>: Developing ubiquitous localization technologies and systems for practical large-scale adoption</li>
    <li><strong>Automotive In-Cabin Sensing</strong>: Building smart sensing systems for enhanced in-cabin safety and comfort</li>
    <li><strong>Multi-Modality Sensing and Learning</strong>: Exploring the opportunities of combining multiple modalities (radio/sound/visual/light/etc) for advanced Wireless AI Perception</li>
  </ul>
  
  <!-- ## Summer Internship 2022
  
  We are seeking undergraduate students to participate in our department's [Summer Internship Program 2022](https://www.cs.hku.hk/rintern/). The duration of the internships will be at least three months. Candidates can work either remotely or in person. In either case, a monthly stipend will be provided by the department. Research projects will be discussed case by case, and you are welcome to propose your own interesting topics.
  
  - **Deadline: May 30th, 2022**
  - **Application:** Please email Prof. Chenshu Wu ([chenshu@cs.hku.hk](mailto:chenshu@cs.hku.hk)) with your CV (including GPA and ranking) and your transcripts. -->
  
  <h2 id="postdocs">Postdocs</h2>
  
  <p>We have postdoc/RAP openings in wireless sensing and mobile computing. If you are interested in working with us, send me an email at <a href="mailto:chenshu@cs.hku.hk">chenshu@cs.hku.hk</a>. Strong candidates can apply for the HKU Presidential RAP Scheme.</p>
  
  <h2 id="research-assistantsinternsvisitors">Research Assistants/Interns/Visitors</h2>
  
  <p>Research assistants, summer interns, visiting PhD students are welcome to collaborate with us (preferably at least 3 months for summer interns and 6 months for RAs/visitors). Welcome to apply for the <a href="https://gradsch.hku.hk/news_and_events/news_and_future_events/summer-research-programme-2024">HKU Summer Research Program</a> and the <a href="https://www.cs.hku.hk/rintern/">HKU CS Research Internship Program</a> for summer interns with us.</p>
  
  <h2 id="undergraduate-students-at-hku">Undergraduate Students at HKU</h2>
  
  <p>Undergraduate students who are excited about research are welcome to contact me for potential research opportunities. If you are an HKU student in CS/EEE or related fields and are interested in my research, please send me an email. I will try to find a time to meet and discuss possible projects.</p>
  
  <hr>
  
  <h1 id="on-campus-visit"><i class="fas fa-walking"></i>On-campus visit</h1>
  <p>Our lab is part of the <a href="http://cs.hku.hk">Department of Computer Science</a>, at <a href="http://hku.hk">The University of Hong Kong (HKU)</a>. Our lab is located at the Room 101 in Haking Wong Building of HKU.</p>
  
  </div>