{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filters
%}

{% assign data = data | sort: "date" | reverse %}
<div class="row" id="Viewer">
  {% for d in data %}
    {% assign style = d.style | default: include.style %}
    {%
      include {{ include.component | append: ".html" }}
      affiliation=d.affiliation
      author=d.author
      co-author=d.co-author
      authors=d.authors
      buttons=d.buttons
      caption=d.caption
      content=d.content
      date=d.date
      description=d.description
      excerpt=d.excerpt
      height=d.height
      icon=d.icon
      id=d.id
      image=d.image
      images=d.images
      last_modified_at=d.last_modified_at
      link=d.link
      lookup=d.lookup
      name=d.name
      publisher=d.publisher
      shortPublisher=d.shortPublisher
      repo=d.repo
      role=d.role
      slug=d.slug
      style=style
      subtitle=d.subtitle
      tags=d.tags
      text=d.text
      title=d.title
      tooltip=d.tooltip
      type=d.type
      url=d.url
      width=d.width
      home-url=d.home-url
    %}
{% endfor %}

</div>


<script type="text/javascript">
  // 用法实例
  new Viewer(document.getElementById('Viewer'), {

    title: true,
    rotatable: false,
    scalable: false,
    fullsreen: false,
    zoomRatio: 0.5,
  });
</script>