{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}
{% assign paperType = include.type | default:site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ link }}?search=&quot;type: {{ paperType }}&quot;"
        data-tooltip="{{ button.tooltip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
