<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
<script src="https://unpkg.com/mark.js@8" defer></script>
<script src="../_scripts/jquery-3.5.1.min.js"></script>
<!-- Slick Carousel JS -->
<script type="text/javascript" src="../_scripts/slick.min.js" ></script>

<!-- Plyr JS -->
<script src="_scripts/plyr.js"></script>

<!-- Viewer JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.10.0/viewer.min.js"></script>

<!-- Lazyload JS -->
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  <script src="{{ script.path | relative_url }}"></script>
{% endfor %}
