
<div class="post-container">
    <video id="player" playsinline controls data-poster="/images/PaperCover/mobicom24Demo.png">
        <source src="https://cdn.metaiot.group/metaiot/video/Mobicom24Demo.mp4" type="video/mp4" />
    </video>
</div>
<!-- Plyr resources and browser polyfills are specified in the pen settings -->

<script>
    const player = new Plyr('video', { captions: { active: true } });

    // Expose player so it can be used from the console
    window.player = player;
</script>

